In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
from sklearn.model_selection import train_test_split

In [42]:
heart=pd.read_csv('heart.csv')
heart.sample(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
69,62,0,0,124,209,0,1,163,0,0.0,2,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
254,59,1,3,160,273,0,0,125,0,0.0,2,0,2,0
175,40,1,0,110,167,0,0,114,1,2.0,1,0,3,0
227,35,1,0,120,198,0,1,130,1,1.6,1,0,3,0
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
50,51,0,2,130,256,0,0,149,0,0.5,2,0,2,1
256,58,1,0,128,259,0,0,130,1,3.0,1,2,3,0

In [43]:
hcare=pd.read_csv('healthcare_dataset.csv')
hcare['Medical Condition'].value_counts()

Medical Condition
Arthritis       9308
Diabetes        9304
Hypertension    9245
Obesity         9231
Cancer          9227
Asthma          9185
Name: count, dtype: int64

Medication
Lipitor        11140
Ibuprofen      11127
Aspirin        11094
Paracetamol    11071
Penicillin     11068
Name: count, dtype: int64

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal